.stamped-text-inactive {
    scale: 1 1;
    rotate: 0;
    display: none;
}

.stamped-text-active {
    display: flex;
    scale: 2 2;
    rotate: 10deg;
}

.banana-active {
    display: flex;
    scale: 1 1;
    rotate: -2deg;
}
